@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);


html, body, .container {
    height: 100%;
}

body {
	font-size: 13px;
	font-family: 'Lora', Georgia, serif;
    color: #444444;
    min-width: 1080px;
}

a {
    color: #444444;
}

b {
    font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/** Custom UI Elements **/

.btn {
    position: relative;
    display: block;
    float: left;
    height: 23px;
    margin: 0 0 0 5px;
    padding: 0 7px;
    border: 1px solid #c0c0c0;
    color: #c0c0c0;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: white;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.btn:active, .btn-active {
    color: white;
    background-color: #c0c0c0;
}


/** Navigation **/

header {
    width: 100%;
    position: fixed;
    top: 0;
}

#buttonContainer {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
}

.logo {
    position: relative;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 13px;
    line-height: 23px;
    color: white;
    background-color: #2980b9;
    background-size: cover;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.credits {
    margin: 10px;
}

.credits p {
    margin-top: 3px;
    font-size: 11px;
}


/** General **/

.container {
    position: relative;
    width: 650px;
    margin: auto;
}



/** The Source bar - holds the audio/video players **/

.source {
    position: fixed;
    top: 0;
    background-color: white;
}

.commands li {
    display: inline-block;
    margin-right: 15px;
    font-size: 10px;
    color: #adadad;
}

#audioBar {
    height: 40px;
}

#audioPlayer {
    width: 650px;
    padding: 10px 0;
}



/** The editor portion **/

.editor {
    padding: 130px 0;
}

.chooser {
    opacity: 0;
    position: absolute;
    top: -40px;
}

#audioChooseNav {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 15px 15px 0;
    background-image: url('../img/add_audio.svg');
    background-size: 40px 40px;
    background-repeat:no-repeat;
}

#audioChooseNav:hover {
    background-image: url('../img/add_audio_hover.svg');
}


/** The transcript text **/

.tTitle, .tSubTitle, .tText {
    display: block;
    margin: 0;
    border: 0;
    word-wrap: break-word;
    width: 100%;
}

.tTitle {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 8px;
}

.tSubTitle {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    color: #adadad;
}

.tText {
    font-family: 'Lora', Georgia, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
    min-height: 500px;
    overflow: hidden;
    resize: none;
}