html, body, .container {
    height: 100%;
}

body {
	font-size: 13px;
	background: #fff; 
	font-family: Arial, sans-serif;
    color: #444;
    min-width: 1200;
}

a {
    color: #444;
}

strong {
    font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/** Custom UI Elements **/

.btn, .btn-toggle, .btn-dropdown {
    display: inline-block; 
}

.btn, .btn-toggle, .btn-choices {
    padding: 4px 8px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    background-color: white;
    font-size: 14px;
    color: #c0c0c0;
}

.btn:active, .btn-active {
    color: white;
    background-color: #c0c0c0;
}

.btn-dropdown .btn:after {
    content: ' \25BC';
}

.btn-choices {
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 120px;
    margin-top: 2px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.btn-choices ul {
    padding: 0;
    list-style: none;
}

.btn-choices ul li {
    display: list-item;
}

.btn-choices ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    color: #c0c0c0;
}


/** Navigation **/

.header {
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo {
    width: 60px;
    height: 65px;
    margin-left: 35px;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 10px;
}

.credits p {
    margin-top: 3px;
    font-size: 11px;
}
.options {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.options li {
    display: inline;
}


/** General **/

.container {
    position: relative;
    max-width: 800px;
    margin: auto;
}



/** The Source bar - holds the audio/video players **/

.source {
    position: fixed;
    top: 0;
    background-color: white;
}

.commands {
    margin-top: 5px;
}

.commands li {
    display: inline-block;
    margin-right: 20px;
    font-size: 10px;
}

.commands li:before {
    content: attr(data-key) " - ";
    font-weight: bold;
}

#audioBar {
    height: 40px;
}

#audioPlayer {
    width: 800px;    
    padding: 10px 0;
}



/** The editor portion **/

.editor {
    padding: 100px 0;
}

#audioChooser {
    opacity: 0;
    position: absolute;
    top: -40px;
}

#audioChooseNav {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 15px 15px 0;
    background-size: 40px 40px;
    background-repeat:no-repeat;
}

#audioChooseNav {
    background-image: url('../img/add_audio.svg');
}

#audioChooseNav:hover {
    background-image: url('../img/add_audio_hover.svg');
}


/** The transcript text **/

.tTitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
}

.tSubTitle {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}

.tText {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 25px;
}

.tTitle, .tSubTitle, .tText {
    outline: 0;
    word-wrap: break-word;
}

.tStamp {
    font-family: Georgia, serif;
    height: 12px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #FF4C2E;
}

.bookmark {
    display: none;
}

.tStamp:hover {
    cursor: pointer;
    text-decoration: underline;
}

.empty:hover {
    cursor: auto;
    text-decoration: none;
}

.empty:after {
    content: attr(data-ghost-text);
    color: #c0c0c0;
}