html, body, .container {
    height: 100%;
}

body {
	font-size: 13px;
	background: #fff; 
	font-family: Arial;
    color: #383838;
}

h1, h2 {
    font-family: Arial;
}

p {
    font-family: Georgia;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/** Navigation **/

#siteNav {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
}

#navLogo {
    width: 100%;
    height: 50px;
    z-index: 700;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #FC5B5B;
    cursor: pointer;
}

#navTray {
    width: 100%;
    background-color: #5E5E5E;
}

#navTray ul {
    padding-top: 20px;
}

#navTray ul li {
    display: inline-block;
}

#navTray ul li a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px 13px;
    background-size: 24px 24px;
    background-repeat:no-repeat;
}

#settingsNav {
    background-image: url('../img/gears.svg');
}

#exportNav {
    background-image: url('../img/download.svg');
}

#downloadNav {
    background-image: url('../img/download.svg');
}




/** General **/

.container {
    position: relative;
    max-width: 800px;
    margin: auto;
}



/** The Source bar - holds the audio/video players **/

.source {
    position: fixed;
    top: 0;
    background-color: white;
}

#audioBar {
    height: 40px;
}

#audioPlayer {
    width: 800px;    
    padding: 5px 0;
}



/** The editor portion **/

.editor {
    padding: 100px 0;
}

#audioChooser {
    display: none;
}

#audioChooseNav {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px 15px 0;
    background-size: 50px 50px;
    background-repeat:no-repeat;
}

#audioChooseNav {
    background-image: url('../img/add_audio.svg');
}

#audioChooseNav:hover {
    background-image: url('../img/add_audio_hover.svg');
}


/** The transcript text **/

.tTitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
}

.tSubTitle {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}

.tText {
    font-size: 20px;
    margin-bottom: 25px;
}

.tTitle, .tSubTitle, .tText {
    outline: 0;
    word-wrap: break-word;
}

.tStamp {
    height: 12px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    color: cornflowerblue;
}

.tStamp:hover {
    cursor: pointer;
    text-decoration: underline;
}

.empty:hover {
    cursor: auto;
    text-decoration: none;
}

.empty:after {
    content: attr(data-ghost-text);
    color: #c0c0c0;
}