html, body, .container {
    height: 100%;
}

body {
	font-size: 13px;
	background: #fff; 
	font-family: Verdana, Arial;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/** Navigation **/

#siteNav {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
}

#navLogo {
    width: 100%;
    height: 50px;
    z-index: 700;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #FC5B5B;
    cursor: pointer;
}

#navTray {

    width: 100%;
    background-color: #5E5E5E;
}

#navTray ul {
    padding-top: 20px;
}

#navTray ul li {
    display: inline-block;
}

#navTray ul li a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px 13px;
    background-size: 24px 24px;
    background-repeat:no-repeat;
}

#audioNav {
    background-image: url('../img/mic.svg');
}

#videoNav {
    background-image: url('../img/camera.svg');
}

#settingsNav {
    background-image: url('../img/gears.svg');
}

#downloadNav {
    background-image: url('../img/download.svg');
}

/** Toolbars **/

#commandBar {
    display: none;
    padding: 5px 0 5px 25px;
    background-color: #ECF0F1;
}

#commandBar ul li {
    display: inline-block;
    margin-right: 20px;
}

#commandBar ul li a {
    display: block;
    color: #7F8C8D;
}


#audioBar {
    display: none;
    height: 40px;
}

#audioBar ul {
    margin-left: 135px;
    padding-top: 6px;
}

#audioBar ul li {
    display: inline-block;
}

#audioPlayer {
    width: 700px;
}

#videoBar {
    display: none;
    height: 270px;
}

#videoBar ul {
    margin-left: 135px;
    padding-top: 10px;
}

#videoBar ul li {
    display: inline-block;
}

#videoPlayer {
    height: 250px;
}




.container {
    position: relative;
    max-width: 700px;
    margin: auto;
}

.source {
    position: absolute;
    background-color: red;
}

.editor {
    padding-top: 100px;
}

#audioChooser, #videoChooser {
    display: none;
}

#audioChooseNav, #videoChooseNav {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 15px 15px 0;
    background-size: 40px 40px;
    background-repeat:no-repeat;
}

#audioChooseNav {
    background-image: url('../img/mic.svg');
}

#videoChooseNav {
    background-image: url('../img/camera.svg');
}

.tTitle {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.tSubTitle {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 50px;
}

.tText {
    font-size: 20px;
    margin-bottom: 25px;
}

.tText .tStamp {
    font-weight: bold;
}