html, body, .container {
    height: 100%;
}

body {
	font-size: 13px;
	background: #fff; 
	font-family: Verdana, Arial;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/** Navigation **/

#siteNav {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
}

#navLogo {
    width: 100%;
    height: 50px;
    z-index: 700;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #FC5B5B;
    cursor: pointer;
}

#navTray {
    display: none;
    width: 100%;
    background-color: #505050;
}

#navTray ul {
    padding-top: 20px;
}

#navTray ul li {
    display: inline-block;
}

#navTray ul li a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px 13px;
    background-size: 24px 24px;
    background-repeat:no-repeat;
}

#audioNav {
    background-image: url('../img/mic.svg');
}

#videoNav {
    background-image: url('../img/camera.svg');
}

#settingsNav {
    background-image: url('../img/gears.svg');
}

#downloadNav {
    background-image: url('../img/download.svg');
}

/** Toolbars **/

#commandBar {
    display: block;
    padding: 5px 0 5px 25px;
    background-color: #ECF0F1;
}

#commandBar ul li {
    display: inline-block;
    margin-right: 20px;
}

#commandBar ul li a {
    display: block;
    color: #7F8C8D;
}

#audioChooser, #videoChooser {
    display: none;
}

#audioChooseNav, #videoChooseNav {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-image: url('../img/upload.svg');
    background-size: 25px 25px;
    background-repeat:no-repeat;
}

/*For some reason the video isn't aligning like the audio */
#videoChooseNav {
    padding-bottom: 6px;
}

#audioBar {
    display: none;
    background-color: #ECF0F1;
    height: 40px;
}

#audioBar ul {
    margin-left: 135px;
    padding-top: 6px;
}

#audioBar ul li {
    display: inline-block;
}

#audioPlayer {
    width: 800px;
}

#videoBar {
    display: none;
    background-color: #ECF0F1;
    height: 270px;
}

#videoBar ul {
    margin-left: 135px;
    padding-top: 10px;
}

#videoBar ul li {
    display: inline-block;
}

#videoPlayer {
    height: 250px;
}

/** Editor **/

.editor {
    width: 100%;
    height: 100%; 
}

textarea {
    width: 100%;
    height: 100%; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    /* For Firefox                          */
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    font-family: Verdana, Arial;
    padding: 10px;
    font-size: 18px;
    min-height: 490px;
    line-height: 1.4em;
    resize: none;
    border: none;
}