html, body, .container {
    height: 100%;
}

body {
	font-size: 13px;
	background: #fff; 
	font-family: Arial;
}

h1, h2 {
    font-family: Arial;
}

p {
    font-family: Georgia;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/** Navigation **/

#siteNav {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
}

#navLogo {
    width: 100%;
    height: 50px;
    z-index: 700;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #FC5B5B;
    cursor: pointer;
}

#navTray {
    width: 100%;
    background-color: #5E5E5E;
}

#navTray ul {
    padding-top: 20px;
}

#navTray ul li {
    display: inline-block;
}

#navTray ul li a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px 13px;
    background-size: 24px 24px;
    background-repeat:no-repeat;
}

#settingsNav {
    background-image: url('../img/gears.svg');
}

#exportNav {
    background-image: url('../img/download.svg');
}

#downloadNav {
    background-image: url('../img/download.svg');
}




/** General **/

.container {
    position: relative;
    max-width: 800px;
    margin: auto;
}



/** The Source bar - holds the audio/video players **/

.source {
    position: fixed;
    top: 0;
    background-color: white;
}

#commandBar {
    display: none;
    padding: 5px 0 5px 25px;
    background-color: #ECF0F1;
}

#commandBar ul li {
    display: inline-block;
    margin-right: 20px;
}

#commandBar ul li a {
    display: block;
    color: #7F8C8D;
}

#audioBar {
    height: 40px;
}

#audioPlayer {
    width: 800px;    
    padding: 5px 0;
}



/** The editor portion **/

.editor {
    padding: 100px 0;
}

#audioChooser {
    display: none;
}

#audioChooseNav {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 15px 15px 0;
    background-size: 40px 40px;
    background-repeat:no-repeat;
}

#audioChooseNav {
    background-image: url('../img/mic.svg');
}



/** The transcript text **/

.tTitle {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.tSubTitle {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 50px;
}

.tText {
    font-size: 20px;
    margin-bottom: 25px;
}

.tTitle, .tSubTitle, .tText {
    outline: 0;
    word-wrap: break-word;
}

.empty:after {
    content: attr(data-ghost-text);
    color: #c0c0c0;
}

.tText .tStamp {
    font-weight: bold;
}